/* Custom container */
.container-narrow {
	margin: 0 auto;
	width: 1000px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* INTRO AND TEMPLATE */

.masthead {
	max-width: 1000px;
	background: white;
	margin: 0 auto;
	border-bottom: 1px lightgray solid;
	padding: 5px 0;
}

.masthead h3 img {
	height: 50px;
}

#navbar {
	margin-top: 20px;
}

#navbar-div {
	width: 1000px;
}

.nav-section {
	top: -100px;
	padding-top: 100px;
	margin-top: 50px;
	margin-bottom: -50px;
}

.nav-section.jumbotron {
	margin-top: 0;
}

.nav-section.footer {
	padding-top: 30px;
	margin-bottom: 50px;
}

hr {
	position:relative;
	top: 75px;
}

.membership-nav-pill {
	background: #c73945;
	color: white;
}

.other-nav-pill {
	background: white;
	color: #0088cc;
}

.pull-right .active a {
	background: #0088cc;
}

.social-media h2{
	padding-left: 15px;
}

.social-media a {
	height: 28px;
	width: 28px;
	float: right;
	padding-right: 12px;
}

.social-media img {
	height: 28px;
	width: 28px;
}

.koa-logo {
	float: left;
	padding-right: 20px;
}

/* PORTFOLIO */

#residence-banner {
	display: table-cell;
	width: 100%;
	height: 80px;
	vertical-align: middle;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}

#residence-banner h1 {
	width: 1000px;
	vertical-align: middle;
}

#wild-banner {

	display: table-cell;
	width: 100%;
	height: 80px;
	vertical-align: middle;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
}

#wild-banner h1 {
	width: 1000px;
	vertical-align: middle;
}

.thumbnails li {
	height: 100px;
}

.thumbnails a {
	display: block;
	margin: 0 auto;
	max-width: 280px;
	max-height: 100px;
	width: 80%;
	height: 80%;
}

.thumbnails img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.thumbnails h3 {
	margin: 0;
	text-align: center;
}

/* MEMBERSHIP */

.membership {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.membership.container {
	width: 65%;
	margin: 0 auto;
	overflow: none;
}

.membership.header {
	float: left;
	width: 50%;
	margin:0;
	color: white;
	padding: .3em;
}

.membership.header.left {
	/*
	moz-border-radius: 15px 0px 0px 0px;
	border-radius: 15px 0px 0px 0px;
	border-bottom: 0px solid black;
	*/
	background: #0088cc;
}

.membership.header.right {
	/*
	moz-border-radius: 0px 15px 0px 0px;
	border-radius: 0px 15px 0px 0px;
	border-bottom: 0px solid black;
	*/
	float: left;
	width: 50%;
	background: #c73945;
	margin:0;
	color: white;
	padding: .3em;
}

.membership.list{
	font-size: 18pt;
	padding-left: .5em;
	padding-top: .2em;
	text-align:left;
}

.membership.list.left {
}

.membership.list.right {
}

.membership.list-container {
	width: 50%;
	float: left;
	border: 2px solid #555;
	border-top: 0;
}

.membership.list-container.left {
	border-right-width: 1px;
}

.membership.list-container.right {
	border-left-width: 1px;
}

.membership.list li {
	padding: .3em 0em .3em 0em;
}

.membership.button {
	float:left;
	width: 45%;
	display: block;
	text-align: center;
	color: #fff;
	border-radius: .3em;
	position: relative;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	cursor:pointer;
}

.membership.button.left {
	background-color: #0088cc;
	border: solid #1973a2 1px;
	border-bottom: solid #1973a2 4px;
	text-shadow: 0px 2px 0 #1973a2;
}

.membership.button.right {
	background-color: #c73945;
	border: solid #88333b 1px;
	border-bottom: solid #88333b 4px;
	text-shadow: 0px 2px 0 #88333b;
}

.membership.button.left:hover {
	background-color: #1caaf4;
}

.membership.button.right:hover {
	background-color: #db5e69;
}

.membership.button:active {
	top: 4px;
	border-bottom: 0;
}

.membership.spacer {
	height:20px;
	float:left;
}

.membership.spacer.left {
	width:2.5%;
}

.membership.spacer.middle {
	width:5%;
}

/* FIND US */

#location p.lead {
	float: left;
	width: 100%;
	text-align:center;
}
#location .addresses {
	width: 70%;
	margin: 0 auto;
}
#location .adr {
	float: left;
	width: 50%;
	text-align: center;
} 
#location .adr .country-name {
	display: none;
}

#directions, #map_canvas, #directions-panel {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#map_canvas {
	width: 70%; 
	height: 500px; 
	top: 10px;
	margin: 0 auto;
}