/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 1000px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}


/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* INTRO AND TEMPLATE */

.masthead {
	max-width: 1000px;
	background: white;
	margin: 0 auto;
	border-bottom: 1px lightgray solid;
	padding: 5px 0;
}

.masthead h3 img {
	height: 50px;
}

#navbar {
	margin-top: 20px;
}

.nav-section {
	top: -100px;
	padding-top: 100px;
	margin-top: 50px;
	margin-bottom: -50px;
}

.nav-section.jumbotron {
	margin-top: 0;
}

.nav-section.footer {
	padding-top: 30px;
	margin-bottom: 50px;
}

hr {
	position:relative;
	top: 75px;
}

.membership-nav-pill {
	background: red;
	color: white;
}

.social-media h2{
	padding-left: 15px;
}

.social-media a {
	height: 40px;
	width: 40px;
	float: left;
	padding-right: 12px;
	padding-top: 4px;
}

.social-media img {
	height: 40px;
	width: 40px;
}

.koa-logo {
	float: left;
	padding-right: 20px;
}

/* PORTFOLIO */

.thumbnails li {
	height: 100px;
}

.thumbnails a {
	display: block;
	width: 100%;
}

.thumbnails img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

.thumbnails h3 {
	margin: 0;
	text-align: center;
}

/* MEMBERSHIP */

.membership {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
}

.membership.container {
	width: 65%;
	margin: 0 auto;
	overflow: none;
	cursor:pointer;
}

.membership.left-element {
	moz-border-radius: 15px 0px 0px 0px;
	border-radius: 15px 0px 0px 0px;
	border: 3px solid black;
	width: 50%;
	margin: 0 auto;
	float:left;
	text-align: center;
}

.membership.right-element {
	moz-border-radius: 0px 15px 0px 0px;
	border-radius: 0px 15px 0px 0px;
	border: 3px solid black;
	width: 50%;
	margin: 0 auto;
	float:left;
	text-align: center;
}

.membership.listheaderleft {
	moz-border-radius: 15px 0px 0px 0px;
	border-radius: 15px 0px 0px 0px;
	border-bottom: 2px solid black;
	background: #00612c;
	margin-top:0;
	color: white;
	padding: .3em;
}

.membership.listheaderright {
	moz-border-radius: 0px 15px 0px 0px;
	border-radius: 0px 15px 0px 0px;
	border-bottom: 2px solid black;
	background: #1e1c59;
	margin-top:0;
	color: white;
	padding: .3em;
}

.membershiplistleft {
	font-size: 18pt;
	padding: .5em;
	padding-top: .2em;
	text-align:left;
}

.membershiplistright {
	font-size: 18pt;
	padding: .5em;
	padding-top: .2em;
	text-align:left;
}

.membershiplistitem {
	padding: .3em 0em .3em 0em;
}

.membershiplabel {
	font-size: 22pt;
	font-weight: bold;
	text-decoration: underline;
	padding-top: -1em;
	margin-top: -.3em;
	padding-bottom: .7em;
	color: #1e1c59;
}

.membership.contact {
	
}

/* FIND US */

#location p.lead {
	float: left;
	width: 100%;
	text-align:center;
}
#location .addresses {
	width: 70%;
	margin: 0 auto;
}
#location .adr {
	float: left;
	width: 50%;
	text-align: center;
} 
#location .adr .country-name {
	display: none;
}

#directions, #map_canvas, #directions-panel {
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

#map_canvas {
	width: 70%; 
	height: 500px; 
	top: 10px;
	margin: 0 auto;
}